@import './colors';
@import './utility';
@import './hamburger';
@import './spinner';

hr {
  &.dotted {
    border: none;
    border-top: 1px dotted $color-faint;

    &.blue {
      border-color: $color-blue-l2;
    }
  }
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.bg-primary {
  background-color: $color-blue-l3;
}

.bg-dark {
  background-color: $color-blue-l4;
}

.bg-black {
  background-color: #000;
}

.p-10px {
  padding: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.mx-3px {
  margin-left: 3px;
  margin-right: 3px;
}

.mx-10px {
  margin-left: 10px;
  margin-right: 10px;
}

.mb-5px {
  margin-bottom: 5px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-15px {
  margin-bottom: 15px;
}

.mt-5px {
  margin-top: 5px;
}

.mt-9px {
  margin-top: 9px;
}

.me-5px {
  margin-right: 5px;
}

.py-10px {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pb-2px {
  padding-bottom: 2px;
}

.text-center {
  text-align: center;
}

.text-light {
  color: $color-light;
}

.content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
}

.page-footer {
  font-size: 0.8rem;
  line-height: 14px;
  max-height: 42px;
  overflow: hidden;
}

.image-btn {
  outline: none;
  border: none;
  background-color: transparent;
  background-size: 100% 100%;
  cursor: pointer;

  &.sm {
    width: 24px;
    height: 24px;
  }

  &.delete {
    background-image: url('../images/delete.png');
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.hamburger-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 350px;
  z-index: 2000;

  .hamburger {
    position: absolute;
    left: 10px;
    top: 10px;
    transition: left 0.3s linear;

    &.open {
      left: 340px;
    }
  }
}

.page {
  .sidebar {
    position: relative;
    flex: 0 0 350px;
    max-width: 0;
    height: 100%;
    transition: max-width 0.3s linear;
    padding: 40px 0 50px;
    overflow: hidden;

    .sidebar-inner {
      background-color: $color-carton;
      height: 100%;
      overflow-y: auto;
      padding: 2px 10px 5px;
    }

    .tab-headers {
      display: flex;
    }

    .tab-header {
      outline: none;
      border: none;
      background-color: $color-blue-l1;
      padding: 4px 10px;
      border-radius: 4px 4px 0 0;
      color: $color-light;
      cursor: pointer;

      &.active {
        background-color: $color-blue-l2;
      }
    }

    .tab-items {
      position: relative;

      .item-wrap {
        background-color: $color-blue-l2;
        padding: 4px 5px;
      }

      .tab-item {
        display: none;

        &.active {
          display: block;
        }
      }
    }

    .simulation-canvas {
      background-color: #000;
    }

    .player {
      width: 320px;
      height: 200px;
      background-color: #000;
    }

    .board-ct-controls {
      margin-top: 15px;
    }

    .image-dimensions-legend {
      margin-top: 10px;
      color: $color-blue-l2;
    }
  }

  .thumbnails-bg {
    overflow-y: auto;

    .thumbnails-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 100%;

      @media (min-width: 200px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: 380px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include media-break(sm) {
        grid-template-columns: repeat(4, 1fr);
      }

      @include media-break(md) {
        grid-template-columns: repeat(6, 1fr);
      }

      @include media-break(lg) {
        grid-template-columns: repeat(8, 1fr);
      }

      @media (min-width: 1100px) {
        grid-template-columns: repeat(9, 1fr);
      }

      @include media-break(xl) {
        grid-template-columns: repeat(10, 1fr);
      }
    }
  }

  &.sidebar-open {
    .sidebar {
      max-width: 380px;
    }

    .thumbnails-bg {
      .thumbnails-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;

        @include media-break(sm) {
          grid-template-columns: repeat(2, 1fr);
        }

        @include media-break(md) {
          grid-template-columns: repeat(4, 1fr);
        }

        @include media-break(lg) {
          grid-template-columns: repeat(6, 1fr);
        }

        @media (min-width: 1100px) {
          grid-template-columns: repeat(7, 1fr);
        }

        @include media-break(xl) {
          grid-template-columns: repeat(8, 1fr);
        }
      }
    }
  }
}

.gct-image-display {
  font-weight: bold;
  font-size: 0.8rem;
  color: $color-alert;
  display: none;

  &.is-gct {
    display: block;
  }
}

.controls {
  border: 1px solid #96b4bb;
  padding: 1px;
  margin: 5px 0;

  label {
    font-weight: bold;
    font-size: 0.7rem;

    &.control-button {
      font-size: 0.9rem;
      vertical-align: middle;
    }
  }

  &.d-flex {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &.right {
    display: flex;
    justify-content: flex-end;
  }
}

.control-group {
  border: 1px solid $color-blue-l2;
  position: relative;

  &.slider-group {
    display: flex;
    align-items: center;
    background-color: #576977;
    user-select: none;

    .slider-con {
      flex: 1;
      position: relative;
      height: 15px;
      margin: 0 5px;

      .slider {
        position: absolute;
        width: 100%;
        bottom: -5px;
        margin: 0;
        outline: none;
      }
    }

    .slider-line {
      position: relative;
      flex: 1;
      height: 6px;
      border-radius: 3px;
      border: 1px solid #7d8992;
      margin: 0 7px;
      background-color: rgb(238, 245, 253);

      .fill {
        background-color: $color-blue-l4;
        height: 100%;
        width: 0px;
        border-radius: 3px;
        position: absolute;

        .knob {
          position: absolute;
          right: -6px;
          top: -4px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: rgb(240, 233, 198);
          background-size: 100% 100%;
          background-image: url(../images/handle-sm.png);
        }
      }
    }

    .slider-value-span {
      border-radius: 3px;
    }
  }

  span {
    border: 2px solid gray;
    display: inline-block;
    padding: 2px;
    background-color: #323335;
    color: $color-light;
    font-weight: bold;
    font-size: 0.7rem;
    text-align: center;

    &.sm {
      width: 22px;
    }

    &.check-border {
      padding: 3px;
      background-color: $color-blue-l4;

      input[type="checkbox"] {
        vertical-align: middle;
      }
    }
  }
}

.control-button {
  outline: none;
  background-color: $color-blue-l1;
  color: $color-light;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 4px 5px;
  border: 2px solid $color-blue-l2;
  box-shadow: 0 1px 1px 1px #1a3041;
  cursor: pointer;

  &.lg {
    padding: 7px 15px;
  }

  &:hover {
    background-color: $color-blue-l2;
  }
}

.radio-group {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  label {
    display: flex;
    align-items: center;

    .radio-con {
      position: relative;
      display: inline-block;
      padding: 0 2px;
      line-height: 0.7rem;
    }
  }
}

.control-value {
  border: 2px solid gray;
  display: inline-block;
  padding: 2px 5px;
  background-color: #323335;
  color: $color-light;
  font-weight: bold;
  font-size: 0.9rem;
  vertical-align: middle;
  text-align: center;

  &.lg {
    min-width: 40px;
  }
}

.thumbnail {
  border: 2px solid #1d1c1c;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  background-color: $color-blue-l1;

  &.selected {
    border-color: $color-success;
  }
}

.busy-cover {
  display: none;

  &.open {
    display: block;
  }
}

.feedback-body {
  padding: 15px 30px;
  background-color: $color-light;
  color: $color-blue-l2;
  border: 2px solid $color-light;
  border-radius: 5px;
  max-width: 400px;

  &.error {
    border-color: $color-alert;

    .heading {
      color: $color-alert;
      margin-bottom: 10px;
    }

    .feedback {
      margin-top: 10px;
    }
  }

  .heading {
    font-size: 1.1rem;
  }
}

.thumnail-context-menu {
  position: absolute;
  width: 180px;
  background-color: $color-light;
  border: 1px solid $color-faint;

  .menu-item {
    display: block;
    cursor: pointer;
    padding: 7px 10px;
    transition: all 0.3s linear;

    &.disabled {
      color: $color-muted;
      background-color: #e7ecf1;
      cursor: default;
      border-top: 1px solid #ced3d8;
    }

    &:hover:not(.disabled) {
      color: $color-light;
      background-color: $color-blue-l4;
    }
  }
}
